$orange-light: rgba(243, 101, 34, 0.5);
$orange: rgba(243, 101, 34);
.checkout {
	background: white;
	padding: 1rem;
	position: sticky;
	bottom: 0px;
	left: 0;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
