.fee {
	margin: 1rem 0;
	background: white;
	padding: 1rem;
	&-list {
	}
	&-heading {
		color: black;
		margin-top: 0;
	}
	&-item {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding-right: 0.5rem;
		margin: 10px 0;
	}
}
