.payment {
	display: flex;
	justify-content: space-between;
	padding-right: 2rem;
	&-heading {
		margin-top: 0;
		color: black;
	}
	&-cost {
		display: flex;
		flex-direction: column;
		gap: 5px;
		font-weight: 600;
	}
	.dash {
		text-decoration: line-through;
		color: gray;
		font-weight: 400;
	}
}
