$orange-light: rgba(243, 101, 34, 0.5);
$orange: rgba(243, 101, 34);
$blue: #1976d2;
.modal {
	&-container {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 90%;
		max-width: 500px;
		background: white;
		box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
		border-radius: 4px;
		padding: 1rem;
	}
	&-heading {
		display: block;
		color: black;
		font-weight: 600;
		font-size: 20px;
		margin-bottom: 1rem;
	}
	&-title {
		color: $blue;
		text-align: center;
		display: block;
		font-size: 25px;
		font-weight: 600;
	}
	&-content {
		display: flex;
		gap: 1rem;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
}
